@use '@angular/material' as mat;
@use 'sass:map';
@use './../../../styles/theme.scss' as *;

$main-palette: map.get($colors, 'primary');

:host {
    display: block;
    height: 100%;
}

.chart-container {
    position: relative;
    width: 99%;
    min-width: 800px;
    height: 100%;
    max-height: 800px;
}

.chart {
    background-color: mat.m2-get-color-from-palette($main-palette, '900-contrast');
    box-shadow: 0px 0px 8px rgba(black, 0.35);
    padding: 1rem;
}