@use '@angular/material' as mat;
@use 'sass:map';
@use './theme.scss' as *;

$main-palette: map.get($colors, 'primary');

@mixin form-field() {
    padding: 0;
    color: black;
    border-bottom: solid 4px mat.m2-get-color-from-palette($main-palette, '400-contrast');

    &.mat-mdc-form-field {
        height: 2.5rem;
        background: mat.m2-get-color-from-palette($main-palette, '500-contrast');
        padding: 0;
        align-items: center;
        border-radius: 0;
        font-weight: 500;
        font-size: 0.875rem;
    }

    .mat-mdc-form-field-infix {
        padding: 0;
        min-height: 0;
        width: unset;
    }

    .mat-mdc-form-field-flex {
        align-items: center;
        padding-left: 1rem;
        border: none;
        height: 100%;
    }

    .mat-mdc-form-field-icon-suffix {
        padding: 0;
    }

    .mat-mdc-text-field-wrapper {
        padding: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mdc-line-ripple {
        display: none;
    }
}

.datepicker {
    @include form-field();
}

.dropdown {
    @include form-field();
    .mat-mdc-form-field-flex {
        padding-inline: 1rem;
    }
}

.toggle-button-group {
    &.mat-button-toggle-group {
        border: none;
        border-radius: 0;
        font-size: 0.875rem;
        gap: 2px;
    
        .mat-button-toggle {
            flex: 1;
            font-weight: 700;
            border: none;
            border-bottom: solid 4px mat.m2-get-color-from-palette($main-palette, '400-contrast');

            &.mat-button-toggle-checked {
                background-color: mat.m2-get-color-from-palette($main-palette, 500);
                color: white;
                border-bottom: solid 4px rgba(mat.m2-get-color-from-palette($main-palette, 900), 0.5);
                border-left: none;
            }

            .mat-button-toggle-label-content {
                line-height: 2.5rem;
            }
        }
    }
}

.mat-sort-header-arrow {
    color: white;
}

.mdc-menu-surface.mat-mdc-select-panel.mdc-menu-surface--open {
    padding: 0;
    border: 1px solid mat.m2-get-color-from-palette($main-palette, '400-contrast');;

    .mat-mdc-option {
        font-size: 0.875rem;
        background-color: mat.m2-get-color-from-palette($main-palette, '500-contrast');
        min-height: 2rem;
    }
}

mat-sidenav-container {
    width: 100%;
    padding: 0;
}
