@use '@angular/material' as mat;
@use 'sass:map';
@import './theme.scss';

$main-palette: map.get($colors, 'primary');

@mixin form-field {
    .mat-form-field-wrapper {
        padding: 0;
        color: black;
        border-bottom: solid 4px mat.get-color-from-palette($main-palette, '400-contrast');
    
        .mat-form-field-flex {
            height: 2.5rem;
            background: mat.get-color-from-palette($main-palette, '500-contrast');
            padding: 0;
            padding-right: 0.5rem;
            align-items: center;
            border-radius: 0;
            font-weight: 500;
            font-size: 0.875rem;
    
            .mat-form-field-infix {
                border: none;
                padding: 0;
                padding-left: 1rem;
            }
        }
    
        .mat-form-field-underline {
            display: none;
        }
    }
}

.datepicker {
    @include form-field();
}

.dropdown {
    @include form-field();
    .mat-form-field-wrapper {    
        .mat-form-field-flex {
            padding-inline: 0.125rem 0.75rem;
        }
    }
}

.toggle-button-group {
    &.mat-button-toggle-group {
        border: none;
        border-radius: 0;
        font-size: 0.875rem;
        gap: 2px;
    
        .mat-button-toggle {
            flex: auto;
            font-weight: 700;
            border: none;
            border-bottom: solid 4px mat.get-color-from-palette($main-palette, '400-contrast');

            &.mat-button-toggle-checked {
                background-color: mat.get-color-from-palette($main-palette, 500);
                color: white;
                border-bottom: solid 4px rgba(mat.get-color-from-palette( $main-palette, 900 ), 0.5);
            }

            .mat-button-toggle-label-content {
                line-height: 2.5rem;
            }
        }
    }
}

.mat-sort-header-arrow {
    color: white;
}
