@use '@angular/material' as mat;
@import './palette.scss';

$liiga-laskuri-primary: mat.m2-define-palette($palette);
$theme: mat.m2-define-light-theme((color: (
    primary: $liiga-laskuri-primary,
    accent: $liiga-laskuri-primary,
    warn: $liiga-laskuri-primary,
)));
$colors: mat.m2-get-color-config($theme);