<ng-container *ngIf="filterState">
    <div class="filter-container">
        <label class="filter-label">Kausi</label>
        <app-season-selector [season]="filterState.season" (seasonChange)="selectSeason($event)"></app-season-selector>
    </div>
    <div class="filter-container">
        <label class="filter-label">Tilanne päivänä</label>
        <mat-form-field appearance="fill" class="datepicker">
            <input matInput [matDatepicker]="picker" [value]="filterState.end"
                [min]="filterState.start" [max]="filterState.end" (dateChange)="selectCutOffDate($event.value)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="filterState.cutOff"></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="filter-container">
        <label class="filter-label">Ottelut</label>
        <mat-button-toggle-group class="toggle-button-group" [value]="filterState.matchSelection" (valueChange)="selectMatchSelection($event)">
            <mat-button-toggle [value]="MatchSelection.All">Kaikki</mat-button-toggle>
            <mat-button-toggle [value]="MatchSelection.Home">Koti</mat-button-toggle>
            <mat-button-toggle [value]="MatchSelection.Away">Vieras</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</ng-container>
