@use '@angular/material' as mat;
@use 'sass:map';
@import './../../../styles/theme.scss';

$main-palette: map.get($colors, 'primary');

:host {
    position: relative;

    .sidebar {
        mat-button-toggle-group {
            margin-top: 3rem;
            width: 100%;
        }
    }
}

app-standings-table {
    max-width: 60rem;
}

mat-spinner {
    margin-inline: auto;
    margin-top: 5rem;
}