@use '@angular/material' as mat;
@use 'sass:map';
@import './../../../styles/theme.scss';

$main-palette: map.get($colors, 'primary');

:host {
    position: relative;
    display: flex;
    height: 100%;

    > * {
        padding: 2rem;
    }

    .content {
        background-color: rgba(mat.get-color-from-palette($main-palette, '700-contrast'), 0.9);
        flex: 1;
    }

    .sidebar {
        background: linear-gradient(180deg, #373146 0%, mat.get-color-from-palette($main-palette, '100-contrast') 50%);
        flex: 0 0 13rem;

        mat-button-toggle-group {
            margin-top: 3rem;
            width: 100%;
        }
    }
}

app-standings-table {
    max-width: 60rem;
}

.spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
    mat-spinner {
        margin: auto;
    }
}