<ng-container *ngIf="standingsState.state | async as state">
    <div class="sidebar">
        <app-standings-filter [filterState]="state.filter" (cutOffDateSelect)="filterByDate($event)" (seasonSelect)="changeSeason($event)"></app-standings-filter>
    </div>
    <div class="content">
        <app-standings-table [standings]="state.standings"></app-standings-table>
    </div>
</ng-container>

<div *ngIf="standingsState.isLoading | async" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>


