@use '@angular/material' as mat;
@use 'sass:map';
@use 'styles/palette.scss' as *;
@use 'styles/theme.scss' as *;

@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes($theme);

$main-palette: map.get($colors, 'primary');

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #F0F0F0;
}

* {
    font-family: 'Open Sans', "Helvetica Neue", sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.view-component {
    display: flex;
    flex: 1;

    .content {
        background-color: rgba(mat.m2-get-color-from-palette($main-palette, '700-contrast'), 0.9);
    }   

    .sidebar, .content {
        height: 100%;
        padding: 2rem;
        box-sizing: border-box;
    }

    .sidebar {
        background: linear-gradient(180deg, #373146 0%, mat.m2-get-color-from-palette($main-palette, '100-contrast') 50%);
        width: 17rem;
        padding-top: 3rem;
    }
}

.filter-bar {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .filter-container {
        display: flex;
        flex-direction: column;

        .filter-label {
            font-size: 0.875rem;
            color: white;
            margin-bottom: 0.25rem;
        }
    }
}