@use '@angular/material' as mat;
@import 'styles/palette.scss';
@import 'styles/theme.scss';

@include mat.core();
@include mat.all-component-themes($theme);

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #F0F0F0;
}

* {
    font-family: 'Open Sans', "Helvetica Neue", sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}