<table mat-table [dataSource]="dataSource" matSort [matSortActive]="StandingsColumn.Points">

    <ng-container [matColumnDef]="StandingsColumn.TeamName">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let standing">{{ standing.teamName }}</td>
    </ng-container>

    <ng-container [matColumnDef]="StandingsColumn.GamesPlayed">
        <th mat-header-cell *matHeaderCellDef>Ottelut</th>
        <td mat-cell *matCellDef="let standing">{{ standing.gamesPlayed }}</td>
    </ng-container>

    <ng-container [matColumnDef]="StandingsColumn.Points">
        <th mat-header-cell mat-sort-header start="desc" *matHeaderCellDef>Pisteet</th>
        <td mat-cell *matCellDef="let standing">{{ standing.points }}</td>
    </ng-container>

    <ng-container [matColumnDef]="StandingsColumn.GoalsFor">
        <th mat-header-cell mat-sort-header start="desc" *matHeaderCellDef>TM</th>
        <td mat-cell *matCellDef="let standing">{{ standing.goalsFor }}</td>
    </ng-container>

    <ng-container [matColumnDef]="StandingsColumn.GoalsAllowed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc">PM</th>
        <td mat-cell *matCellDef="let standing">{{ standing.goalsAllowed }}</td>
    </ng-container>

    <ng-container [matColumnDef]="StandingsColumn.GoalDifferential">
        <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc">ME</th>
        <td mat-cell *matCellDef="let standing">{{ standing.goalDiff }}</td>
    </ng-container>

    <ng-container [matColumnDef]="StandingsColumn.PointsPerGame">
        <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc">P/O</th>
        <td mat-cell *matCellDef="let standing">{{ standing.pointsPerGame | number: '1.2-2' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let standing; columns: columns"></tr>
</table>
